@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-glass-dark backdrop-blur-md border border-glass-100 rounded-xl shadow-xl;
  }
}
